In [2]:
import requests 
import pandas as pd
from config import omdb_key

ModuleNotFoundError: No module named 'config'

In [1]:
def omdb_request(movie_title):
    seperator = '+'
    title_url = seperator.join(movie_title.split())
    url = 'http://www.omdbapi.com/?' + 't=' + title_url + '&apikey=' + omdb_key
    r = requests.get(url)
    return r.json()

In [161]:
def bom_db(year):
    url = 'https://www.boxofficemojo.com/yearly/chart/?view2=worldwide&yr=' + str(year)+'&p=.htm'
    r = pd.read_html(requests.get(url).content)
    
    df = r[2]
    
    df.columns = ['Rank', 'Title', 'Studio', 'Worldwide_Gross', 'Domestic_Gross', 
                   'Domestic%','Overseas_Gross' ,'Overseas%']

    df['Year'] = year
    df.drop([0,1], inplace=True)
    df.reset_index(inplace=True)
    df.drop(columns=['index', 'Rank'], inplace=True)
#     df['Worldwide_Gross'] = df['Worldwide_Gross'] + '00000'
#     df['Domestic_Gross'] = df['Domestic_Gross'] + '00000'
#     df['Overseas_Gross'] = df['Overseas_Gross'] + '00000'
#     df = df[~df.Worldwide_Gross.str.contains("k")]  
#     df = df[~df.Domestic_Gross.str.contains("k")]
# #     df = df[if df.Overseas_gross == str: ~df.Overseas_Gross.str.contains("k")]

    
    return df

In [162]:
df_2014 = bom_db(2014)

In [107]:
# df_2014.to_csv('here')

In [152]:
df_2014

,Title,Studio,Worldwide_Gross,Domestic_Gross,Domestic%,Overseas_Gross,Overseas%,Year
0,Transformers: Age of Extinction,Par.,1104100000,$245.4,22.2%,$858.6,77.8%,2014
1,The Hobbit: The Battle of the Five Armies,WB (NL),956000000,$255.1,26.7%,$700.9,73.3%,2014
2,Guardians of the Galaxy,BV,773300000,$333.2,43.1%,$440.2,56.9%,2014
3,Maleficent,BV,758500000,$241.4,31.8%,$517.1,68.2%,2014
4,The Hunger Games: Mockingjay - Part 1,LGF,755400000,$337.1,44.6%,$418.2,55.4%,2014
5,X-Men: Days of Future Past,Fox,747900000,$233.9,31.3%,$513.9,68.7%,2014
6,Captain America: The Winter Soldier,BV,714300000,$259.8,36.4%,$454.5,63.6%,2014
7,Dawn of the Planet of the Apes,Fox,710600000,$208.5,29.3%,$502.1,70.7%,2014
8,The Amazing Spider-Man 2,Sony,709000000,$202.9,28.6%,$506.1,71.4%,2014
9,Interstellar,Par.,677500000,$188.0,27.8%,$489.4,72.2%,2014
10,Big Hero 6,BV,657800000,$222.5,33.8%,$435.3,66.2%,2014
11,How to Train Your Dragon 2,Fox,621500000,$177.0,28.5%,$444.5,71.5%,2014
12,American Sniper,WB,547400000,$350.1,64.0%,$197.3,36.0%,2014
13,Godzilla (2014),WB,529100000,$200.7,37.9%,$328.4,62.1%,2014
14,Rio 2,Fox,500100000,$131.5,26.3%,$368.6,73.7%,2014
15,Teenage Mutant Ninja Turtles (2014),Par.,493300000,$191.2,38.8%,$302.1,61.2%,2014
16,The LEGO Movie,WB,469200000,$257.8,54.9%,$211.4,45.1%,2014
17,Lucy,Uni.,463400000,$126.7,27.3%,$336.7,72.7%,2014
18,Penguins of Madagascar,Fox,373000000,$83.4,22.3%,$289.7,77.7%,2014
19,Edge of Tomorrow,WB,370500000,$100.2,27.0%,$270.3,73.0%,2014
20,Gone Girl,Fox,369300000,$167.8,45.4%,$201.6,54.6%,2014
21,Night at the Museum: Secret of the Tomb,Fox,363200000,$113.7,31.3%,$249.5,68.7%,2014
22,Noah,Par.,362600000,$101.2,27.9%,$261.4,72.1%,2014
23,The Maze Runner,Fox,348300000,$102.4,29.4%,$245.9,70.6%,2014
24,300: Rise of An Empire,WB,337600000,$106.6,31.6%,$231.0,68.4%,2014
25,22 Jump Street,Sony,331300000,$191.7,57.9%,$139.6,42.1%,2014
26,The Fault in our Stars,Fox,307200000,$124.9,40.7%,$182.3,59.3%,2014
27,Divergent,LG/S,288900000,$150.9,52.3%,$137.9,47.7%,2014
28,Mr. Peabody & Sherman,Fox,275700000,$111.5,40.4%,$164.2,59.6%,2014
29,Neighbors,Uni.,270700000,$150.2,55.5%,$120.5,44.5%,2014
...,...,...,...,...,...,...,...,...
364,A Tale of Winter (Conte d'hiver),BWP,23300,$23.3k,100.0%,NaN,0.0%,2014
365,The Decent One,KL,21300,$21.3k,100.0%,NaN,0.0%,2014
366,Guardian Angel,RME,19500,$19.5k,100.0%,NaN,0.0%,2014
367,Tasting Menu,Magn.,18700,$18.7k,100.0%,NaN,0.0%,2014
368,Two Night Stand,EOne,18600,$18.6k,100.0%,NaN,0.0%,2014
369,Burning Bush,KL,16700,$16.7k,100.0%,NaN,0.0%,2014
370,Horses of God,KL,14800,$14.8k,100.0%,NaN,0.0%,2014
371,13 Sins,RTWC,13800,$13.8k,100.0%,NaN,0.0%,2014
372,Camp X-Ray,IFC,13300,$13.3k,100.0%,NaN,0.0%,2014
373,Special ID,WGUSA,12700,$12.7k,100.0%,NaN,0.0%,2014
374,Wolves,KE,12100,$12.1k,100.0%,NaN,0.0%,2014
375,Falcon Rising,Free,11800,$11.8k,100.0%,NaN,0.0%,2014
376,You're Not You,EOne,11500,$11.5k,100.0%,NaN,0.0%,2014
377,The Amazing Catfish,Strand,11300,$11.3k,100.0%,NaN,0.0%,2014
378,Stray Dogs,CGld,10400,$10.4k,100.0%,NaN,0.0%,2014
379,Canopy,Mont.,8500,$8.5k,100.0%,NaN,0.0%,2014
380,Love is in the Air,FCW,8400,$8.4k,100.0%,NaN,0.0%,2014
381,Empty Hours,Strand,8200,$8.2k,100.0%,NaN,0.0%,2014
382,Rigor Mortis,WGUSA,7900,$7.9k,100.0%,NaN,0.0%,2014
383,The Little Bedroom,CLS,7400,$7.4k,100.0%,NaN,0.0%,2014
384,Plot for Peace,NaN,7100,$7.1k,100.0%,NaN,0.0%,2014
385,Very Good Girls,WGUSA,6900,$6.9k,100.0%,NaN,0.0%,2014
386,Pioneer,Magn.,6900,$6.9k,100.0%,NaN,0.0%,2014
387,Life of a King,MNE,6500,$6.5k,100.0%,NaN,0.0%,2014
388,The Strange Little Cat,KS,5900,$5.9k,100.0%,NaN,0.0%,2014
389,"2 Autumns, 3 Winters",FM,5800,$5.8k,100.0%,NaN,0.0%,2014
390,The Devil's Hand,RAtt.,5700,$5.7k,100.0%,NaN,0.0%,2014
391,Anna,VE,4300,$4.3k,100.0%,NaN,0.0%,2014
392,Open Windows,Cdgm.,1800,$1.8k,100.0%,NaN,0.0%,2014
393,Mr. Pip,Free,1700,$1.7k,100.0%,NaN,0.0%,2014

In [148]:
empty = []
for index, row in df_2014.iterrows():
    plus = row['Worldwide_Gross'].split('$')
    dot = plus[-1].split('.')
    number = None
    if len(dot) == 2:
        number = dot[0]+dot[1]
        if number[-1] == 'k':
            number = number.replace('k', '00')
        else:
            number = number.replace(',','') + '00000'
    else:
        number = dot[0].replace('k', '000')
#     number = dot[0]+dot[1]
    empty.append(int(number))
#     empty.append(plus[1] + ' ' + row['Title'])

In [149]:
sorted(empty, reverse=True)# == empty

[1104100000,
 956000000,
 773300000,
 758500000,
 755400000,
 747900000,
 714300000,
 710600000,
 709000000,
 677500000,
 657800000,
 621500000,
 547400000,
 529100000,
 500100000,
 493300000,
 469200000,
 463400000,
 373000000,
 370500000,
 369300000,
 363200000,
 362600000,
 348300000,
 337600000,
 331300000,
 307200000,
 288900000,
 275700000,
 270700000,
 268200000,
 257000000,
 244800000,
 242700000,
 233600000,
 222800000,
 217100000,
 214700000,
 213100000,
 211800000,
 205600000,
 203300000,
 196700000,
 192300000,
 189000000,
 174800000,
 169800000,
 163400000,
 161700000,
 155000000,
 154500000,
 151400000,
 138200000,
 135500000,
 133800000,
 128000000,
 126100000,
 123700000,
 120900000,
 117900000,
 117800000,
 112200000,
 111900000,
 109300000,
 107700000,
 103600000,
 103200000,
 103000000,
 101400000,
 101300000,
 100500000,
 100400000,
 99800000,
 90900000,
 88900000,
 88800000,
 87900000,
 87200000,
 86800000,
 86200000,
 84400000,
 80400000,
 78900000,
 71200000,
 70600000,
 70200000,
 68900000,
 68100000,
 67800000,
 67700000,
 67000000,
 66800000,
 64700000,
 64200000,
 63500000,
 61300000,
 60500000,
 57800000,
 54800000,
 54300000,
 53200000,
 52600000,
 52500000,
 51000000,
 50400000,
 49000000,
 49000000,
 46000000,
 45300000,
 44500000,
 44000000,
 42000000,
 41900000,
 41300000,
 40500000,
 39400000,
 39300000,
 39200000,
 38700000,
 36900000,
 36200000,
 35900000,
 34700000,
 33400000,
 32600000,
 32500000,
 31100000,
 30100000,
 29500000,
 29300000,
 27900000,
 26100000,
 26000000,
 25300000,
 25100000,
 24600000,
 24200000,
 24000000,
 22300000,
 22200000,
 21600000,
 21300000,
 21000000,
 20300000,
 20000000,
 19700000,
 18700000,
 18700000,
 17800000,
 17500000,
 17400000,
 17300000,
 16900000,
 16900000,
 16300000,
 16200000,
 15400000,
 15400000,
 14700000,
 14000000,
 13600000,
 13400000,
 12100000,
 12000000,
 11300000,
 10900000,
 10800000,
 10700000,
 10600000,
 10400000,
 10300000,
 10300000,
 10100000,
 9800000,
 9700000,
 8400000,
 8300000,
 7800000,
 7700000,
 7500000,
 7500000,
 7200000,
 7000000,
 6900000,
 6700000,
 6400000,
 6300000,
 6100000,
 6000000,
 5900000,
 5900000,
 5500000,
 5400000,
 5300000,
 5100000,
 5100000,
 4900000,
 4800000,
 4400000,
 4200000,
 4000000,
 3900000,
 3900000,
 3800000,
 3800000,
 3700000,
 3500000,
 3500000,
 3400000,
 3400000,
 3400000,
 3300000,
 3300000,
 3200000,
 3200000,
 3100000,
 3100000,
 3000000,
 3000000,
 2800000,
 2700000,
 2600000,
 2600000,
 2500000,
 2500000,
 2500000,
 2400000,
 2400000,
 2400000,
 2300000,
 2300000,
 2300000,
 2200000,
 2200000,
 2200000,
 2200000,
 2200000,
 2100000,
 2100000,
 1900000,
 1800000,
 1500000,
 1500000,
 1500000,
 1500000,
 1400000,
 1400000,
 1400000,
 1300000,
 1300000,
 1300000,
 1200000,
 1200000,
 1200000,
 1200000,
 1200000,
 1200000,
 1100000,
 1100000,
 1100000,
 1100000,
 1100000,
 1100000,
 1000000,
 1000000,
 1000000,
 985000,
 921000,
 858000,
 817000,
 800000,
 771000,
 768000,
 731000,
 711000,
 707000,
 646000,
 645000,
 621000,
 601000,
 569000,
 529000,
 524000,
 513000,
 499000,
 492000,
 456000,
 444000,
 434000,
 431000,
 428000,
 390000,
 380000,
 375000,
 373000,
 356000,
 350000,
 341000,
 336000,
 328000,
 317000,
 314000,
 310000,
 305000,
 294000,
 286000,
 275000,
 272000,
 272000,
 265000,
 258000,
 257000,
 255000,
 252000,
 236000,
 228000,
 209000,
 202000,
 200000,
 200000,
 181000,
 172000,
 170000,
 159000,
 139000,
 134000,
 134000,
 116000,
 103000,
 103000,
 103000,
 100000,
 97200,
 92400,
 91400,
 89700,
 88300,
 87900,
 75100,
 67400,
 66600,
 63600,
 63100,
 61100,
 60500,
 59200,
 58700,
 58300,
 56800,
 54900,
 54500,
 54000,
 53900,
 52200,
 48400,
 47700,
 45400,
 38300,
 33800,
 32200,
 32100,
 28100,
 27100,
 25400,
 23300,
 21300,
 19500,
 18700,
 18600,
 16700,
 14800,
 13800,
 13300,
 12700,
 12100,
 11800,
 11500,
 11300,
 10400,
 8500,
 8400,
 8200,
 7900,
 7400,
 7100,
 6900,
 6900,
 6500,
 5900,
 5800,
 5700,
 4300,
 1800,
 1700]

In [151]:
df_2014['Worldwide_Gross'] = empty

In [4]:
temp_info = omdb_request('harry potter')
temp_info
final_df = df[~df['Worldwide Gross'].str.contains("k")], df[df['Worldwide Gross'].replace('[\$,]', '', regex=True).astype(float)

{'Title': 'Harry Potter and the Deathly Hallows: Part 2',
 'Year': '2011',
 'Rated': 'PG-13',
 'Released': '15 Jul 2011',
 'Runtime': '130 min',
 'Genre': 'Adventure, Drama, Fantasy, Mystery',
 'Director': 'David Yates',
 'Writer': 'Steve Kloves (screenplay), J.K. Rowling (novel)',
 'Actors': 'Ralph Fiennes, Michael Gambon, Alan Rickman, Daniel Radcliffe',
 'Plot': "Harry, Ron, and Hermione search for Voldemort's remaining Horcruxes in their effort to destroy the Dark Lord as the final battle rages on at Hogwarts.",
 'Language': 'English',
 'Country': 'USA, UK',
 'Awards': 'Nominated for 3 Oscars. Another 45 wins & 91 nominations.',
 'Poster': 'https://m.media-amazon.com/images/M/MV5BMjIyZGU4YzUtNDkzYi00ZDRhLTljYzctYTMxMDQ4M2E0Y2YxXkEyXkFqcGdeQXVyNTIzOTk5ODM@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
  {'Source': 'Rotten Tomatoes', 'Value': '96%'},
  {'Source': 'Metacritic', 'Value': '87/100'}],
 'Metascore': '87',
 'imdbRating': '8.1',
 'imdbVotes': '681,981',
 'imdbID': 'tt1201607',
 'Type': 'movie',
 'DVD': '11 Nov 2011',
 'BoxOffice': '$381,000,185',
 'Production': 'Warner Bros. Pictures',
 'Website': 'http://www.HarryPotter.com/',
 'Response': 'True'}

In [5]:
def omdb_request(movie_title):
    seperator = '+'
    title_url = seperator.join(movie_title.split())
    url = 'http://www.omdbapi.com/?' + 't=' + title_url + '&apikey=' + omdb_key
    r = requests.get(url)
    return r.json()

In [6]:
temp_info['Ratings'] #first index is IMDB, rotten tomatoes, metacritic

[{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
 {'Source': 'Rotten Tomatoes', 'Value': '96%'},
 {'Source': 'Metacritic', 'Value': '87/100'}]

In [8]:
#######
#Function to scrape data from box office mojo 
#######

In [111]:
df_2014 = bom_db(2014)

TypeError: bad operand type for unary ~: 'float'

In [ ]:
df_2014.tail()
# bbb = df_2014[~df_2014['Worldwide Gross'].str.contains("k")]
# abd = bbb[bbb[3:3].replace('[\$,k]', '', regex=True).astype(float)]
# # bbb['Worldwide Gross']
# abd

In [195]:
df_2014.tail()

,Title,Studio,Worldwide_Gross,Domestic_Gross,Domestic%,Overseas_Gross,Overseas%,Year
389,"2 Autumns, 3 Winters",FM,$5.8k,$5.8k,100.0%,NaN,0.0%,2014
390,The Devil's Hand,RAtt.,$5.7k,$5.7k,100.0%,NaN,0.0%,2014
391,Anna,VE,$4.3k,$4.3k,100.0%,NaN,0.0%,2014
392,Open Windows,Cdgm.,$1.8k,$1.8k,100.0%,NaN,0.0%,2014
393,Mr. Pip,Free,$1.7k,$1.7k,100.0%,NaN,0.0%,2014

In [35]:
for i in range(len(df_2014)):
    if 'k' in df_2014['Worldwide Gross']:
        df_2014['Worldwide Gross'].replace('k', 000)

In [165]:
df_2014.tail()

,Title,Studio,Worldwide_Gross,Domestic_Gross,Domestic%,Overseas_Gross,Overseas%,Year
389,"2 Autumns, 3 Winters",FM,$5.8k,$5.8k,100.0%,NaN,0.0%,2014
390,The Devil's Hand,RAtt.,$5.7k,$5.7k,100.0%,NaN,0.0%,2014
391,Anna,VE,$4.3k,$4.3k,100.0%,NaN,0.0%,2014
392,Open Windows,Cdgm.,$1.8k,$1.8k,100.0%,NaN,0.0%,2014
393,Mr. Pip,Free,$1.7k,$1.7k,100.0%,NaN,0.0%,2014

In [177]:
df_2014[df_2014.columns[2:3]].replace('[\$,]', '', regex=True).replace('k','000', regex=True).astype(float).tail()

     Worldwide_Gross
389              5.8
390              5.7
391              4.3
392              1.8
393              1.7

In [197]:
df_2014[df_2014.columns[2:4]].replace('k00000','', regex=True).tail()

    Worldwide_Gross Domestic_Gross
389            $5.8          $5.8k
390            $5.7          $5.7k
391            $4.3          $4.3k
392            $1.8          $1.8k
393            $1.7          $1.7k

In [196]:
df_2014['Worldwide_Gross'] = df_2014['Worldwide_Gross'] + '00000'
df_2014

,Title,Studio,Worldwide_Gross,Domestic_Gross,Domestic%,Overseas_Gross,Overseas%,Year
0,Transformers: Age of Extinction,Par.,"$1,104.100000",$245.4,22.2%,$858.6,77.8%,2014
1,The Hobbit: The Battle of the Five Armies,WB (NL),$956.000000,$255.1,26.7%,$700.9,73.3%,2014
2,Guardians of the Galaxy,BV,$773.300000,$333.2,43.1%,$440.2,56.9%,2014
3,Maleficent,BV,$758.500000,$241.4,31.8%,$517.1,68.2%,2014
4,The Hunger Games: Mockingjay - Part 1,LGF,$755.400000,$337.1,44.6%,$418.2,55.4%,2014
5,X-Men: Days of Future Past,Fox,$747.900000,$233.9,31.3%,$513.9,68.7%,2014
6,Captain America: The Winter Soldier,BV,$714.300000,$259.8,36.4%,$454.5,63.6%,2014
7,Dawn of the Planet of the Apes,Fox,$710.600000,$208.5,29.3%,$502.1,70.7%,2014
8,The Amazing Spider-Man 2,Sony,$709.000000,$202.9,28.6%,$506.1,71.4%,2014
9,Interstellar,Par.,$677.500000,$188.0,27.8%,$489.4,72.2%,2014
10,Big Hero 6,BV,$657.800000,$222.5,33.8%,$435.3,66.2%,2014
11,How to Train Your Dragon 2,Fox,$621.500000,$177.0,28.5%,$444.5,71.5%,2014
12,American Sniper,WB,$547.400000,$350.1,64.0%,$197.3,36.0%,2014
13,Godzilla (2014),WB,$529.100000,$200.7,37.9%,$328.4,62.1%,2014
14,Rio 2,Fox,$500.100000,$131.5,26.3%,$368.6,73.7%,2014
15,Teenage Mutant Ninja Turtles (2014),Par.,$493.300000,$191.2,38.8%,$302.1,61.2%,2014
16,The LEGO Movie,WB,$469.200000,$257.8,54.9%,$211.4,45.1%,2014
17,Lucy,Uni.,$463.400000,$126.7,27.3%,$336.7,72.7%,2014
18,Penguins of Madagascar,Fox,$373.000000,$83.4,22.3%,$289.7,77.7%,2014
19,Edge of Tomorrow,WB,$370.500000,$100.2,27.0%,$270.3,73.0%,2014
20,Gone Girl,Fox,$369.300000,$167.8,45.4%,$201.6,54.6%,2014
21,Night at the Museum: Secret of the Tomb,Fox,$363.200000,$113.7,31.3%,$249.5,68.7%,2014
22,Noah,Par.,$362.600000,$101.2,27.9%,$261.4,72.1%,2014
23,The Maze Runner,Fox,$348.300000,$102.4,29.4%,$245.9,70.6%,2014
24,300: Rise of An Empire,WB,$337.600000,$106.6,31.6%,$231.0,68.4%,2014
25,22 Jump Street,Sony,$331.300000,$191.7,57.9%,$139.6,42.1%,2014
26,The Fault in our Stars,Fox,$307.200000,$124.9,40.7%,$182.3,59.3%,2014
27,Divergent,LG/S,$288.900000,$150.9,52.3%,$137.9,47.7%,2014
28,Mr. Peabody & Sherman,Fox,$275.700000,$111.5,40.4%,$164.2,59.6%,2014
29,Neighbors,Uni.,$270.700000,$150.2,55.5%,$120.5,44.5%,2014
...,...,...,...,...,...,...,...,...
364,A Tale of Winter (Conte d'hiver),BWP,$23.3k00000,$23.3k,100.0%,NaN,0.0%,2014
365,The Decent One,KL,$21.3k00000,$21.3k,100.0%,NaN,0.0%,2014
366,Guardian Angel,RME,$19.5k00000,$19.5k,100.0%,NaN,0.0%,2014
367,Tasting Menu,Magn.,$18.7k00000,$18.7k,100.0%,NaN,0.0%,2014
368,Two Night Stand,EOne,$18.6k00000,$18.6k,100.0%,NaN,0.0%,2014
369,Burning Bush,KL,$16.7k00000,$16.7k,100.0%,NaN,0.0%,2014
370,Horses of God,KL,$14.8k00000,$14.8k,100.0%,NaN,0.0%,2014
371,13 Sins,RTWC,$13.8k00000,$13.8k,100.0%,NaN,0.0%,2014
372,Camp X-Ray,IFC,$13.3k00000,$13.3k,100.0%,NaN,0.0%,2014
373,Special ID,WGUSA,$12.7k00000,$12.7k,100.0%,NaN,0.0%,2014
374,Wolves,KE,$12.1k00000,$12.1k,100.0%,NaN,0.0%,2014
375,Falcon Rising,Free,$11.8k00000,$11.8k,100.0%,NaN,0.0%,2014
376,You're Not You,EOne,$11.5k00000,$11.5k,100.0%,NaN,0.0%,2014
377,The Amazing Catfish,Strand,$11.3k00000,$11.3k,100.0%,NaN,0.0%,2014
378,Stray Dogs,CGld,$10.4k00000,$10.4k,100.0%,NaN,0.0%,2014
379,Canopy,Mont.,$8.5k00000,$8.5k,100.0%,NaN,0.0%,2014
380,Love is in the Air,FCW,$8.4k00000,$8.4k,100.0%,NaN,0.0%,2014
381,Empty Hours,Strand,$8.2k00000,$8.2k,100.0%,NaN,0.0%,2014
382,Rigor Mortis,WGUSA,$7.9k00000,$7.9k,100.0%,NaN,0.0%,2014
383,The Little Bedroom,CLS,$7.4k00000,$7.4k,100.0%,NaN,0.0%,2014
384,Plot for Peace,NaN,$7.1k00000,$7.1k,100.0%,NaN,0.0%,2014
385,Very Good Girls,WGUSA,$6.9k00000,$6.9k,100.0%,NaN,0.0%,2014
386,Pioneer,Magn.,$6.9k00000,$6.9k,100.0%,NaN,0.0%,2014
387,Life of a King,MNE,$6.5k00000,$6.5k,100.0%,NaN,0.0%,2014
388,The Strange Little Cat,KS,$5.9k00000,$5.9k,100.0%,NaN,0.0%,2014
389,"2 Autumns, 3 Winters",FM,$5.8k00000,$5.8k,100.0%,NaN,0.0%,2014
390,The Devil's Hand,RAtt.,$5.7k00000,$5.7k,100.0%,NaN,0.0%,2014
391,Anna,VE,$4.3k00000,$4.3k,100.0%,NaN,0.0%,2014
392,Open Windows,Cdgm.,$1.8k00000,$1.8k,100.0%,NaN,0.0%,2014
393,Mr. Pip,Free,$1.7k00000,$1.7k,100.0%,NaN,0.0%,2014

In [170]:
df_2014['Worldwide Gross'] = df_2014['Worldwide Gross'].apply(lambda x: 000 if 'k' in 'Worldwide Gross' else 'False')

KeyError: 'Worldwide Gross'

In [163]:
def make_int(df_name, column_name):
    empty = []
    
    for index, row in df_name.iterrows():
        plus = row[column_name].split('$')
        dot = plus[-1].split('.')
        number = None
        
        if len(dot) == 2:
            number = dot[0]+dot[1]
            if number[-1] == 'k':
                number = number.replace('k', '00')
            else:
                number = number.replace(',','') + '00000'
        else:
            number = dot[0].replace('k', '000')

        empty.append(int(number))
    df_name[column_name] = empty

In [164]:
make_int(df_2014, 'Worldwide_Gross')

In [167]:
df_2014.Domestic_gross

AttributeError: 'DataFrame' object has no attribute 'Domestic_gross'

In [ ]:
alfjka;lkghjf;aldshfalkjdshfl = 0